* {
    margin: 0;
    padding: 0;
}

#sidebar {
    float: left;
    display: block;
    width: 25%;
    height: auto;
    text-align: center;
}

#content {
    float: left;
    display: block;
    width: 75%;
    height: auto;
}

.pagination{
    display: block;
    height: 20px;
    line-height: 20px;
}

.pagination a {
    font-size: 12px;
    text-align: center;
    margin-left: 5px;
}